@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Tangerine:wght@400;700&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

* {
    box-sizing: border-box;
    font-size: 16px;
}

#content {
    width: 100vw;
    height: 100vh;
    background: url("./images/background.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  nav{
    display: flex;
    justify-content: center;
    align-content:space-between;
    align-items: center;
    height: 15vh;
    font-family: 'Lato', sans-serif;
    font-size: 1.5rem;
  }

  ul{
    display: flex;
    color: aliceblue;
    list-style: none;
  }

  li {
    margin: 0 20px;
    text-transform: uppercase;
    cursor: pointer;
  }

  .home-main {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 70vh;
    justify-content: center;
  }

  .home-title {
    font-family: 'Tangerine', cursive;
    font-size: 8rem;
    font-weight: bolder;
    color: rgb(177, 84, 17);
  }

  .home-rest {
    font-family: 'Lato', sans-serif;
    font-size: 5rem;
    margin-top: -20px;
    font-weight: bolder;
  }

  .home-hr{
    width: 280px;
    border: 2px solid rgb(177, 84, 17);
  }

  .lema {
    font-size: 1.75rem;
    font-family: 'Lato', sans-serif;
    margin-top: 5vh;
    font-weight: 200;
    color: white;
  }

  .menu-btn{
    width: 10vw;
    height: 6vh;
    font-size: 1.5rem;
    font-family: 'Lato', sans-serif;
    font-weight: 200;
    margin-top: 3vh;
    background-color: rgb(177, 84, 17);
    border: none;
    color: white;
    cursor: pointer;
  }

  button:hover {
    background-color: black;
  }

  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
  }

  .credit{
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 1.25rem;
    font-weight: 200;
  }

  .carta-main{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 70vh;
    justify-content: center;
    overflow-y: scroll;
    background-color: white;
    border-top: 2px solid rgb(177, 84, 17);
    border-bottom: 2px solid rgb(177, 84, 17);
  }

  .carta-title{
    margin-top: 20vh;
    color: rgb(177, 84, 17);
    font-family: 'Tangerine', cursive;
    font-size: 6rem;
    font-weight: bolder;
  }

  .carta-menu{
    color: black;
    font-family: 'Lato', sans-serif;
    font-size: 3rem;
    font-weight: bolder;
  }

  .menu-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
  }

  .menu-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vw;
  }

  .dish-name, .dish-price{
    font-size: 1.75rem;
    font-family: 'Lato', sans-serif;
    color: black;
  }

  .dish-price{
    color: rgb(177, 84, 17);
  }

  .dish-description{
    font-size: 1rem;
    font-weight: 100;
    text-align: center;
    color: black;
  }

  .carta-hr{
    width: 280px;
    border: 2px solid rgb(177, 84, 17);
    margin: 24px auto;
  }

  .dish-hr{
    border: 1px solid rgb(177, 84, 17);
    width: 200px;
  }

  .contact-main{
    height: 70vh;
    background-color: white;
    border-top: 2px solid rgb(177, 84, 17);
    border-bottom: 2px solid rgb(177, 84, 17);
  }

  .contact-title{
    color: rgb(177, 84, 17);
    font-family: 'Tangerine', cursive;
    font-size: 6rem;
    font-weight: bolder;
    text-align: center;
  }

  .contact-us{
    color: black;
    font-family: 'Lato', sans-serif;
    font-size: 3rem;
    font-weight: bolder;
    text-align: center;
  }

  .contact-hr{
    width: 280px;
    border: 2px solid rgb(177, 84, 17);
    margin: 24px auto;
  }

  .card-container{
    display: flex;
    flex-direction: row;
    align-content: center;
    height: 30vh;
    align-items: center;
    justify-content: center;
  }

  .contact-card{
    color: white;
    height: 100%;
    margin: 0 20px 0 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Lato', sans-serif;
  }

  .card-title{
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 20px;
    border-bottom: 1px solid rgb(177, 84, 17);
    color: black;
  }

  .hours, .phone, .email, .adress {
    font-weight: 200;
    font-size: 1.5rem;
    color: black;
  }

  main::-webkit-scrollbar {
    width: 1em;
  }

  main::-webkit-scrollbar-thumb {
    background-color: rgb(177, 84, 17);
    outline: 1px solid white;
  }